
@{
    ViewData["Title"] = "Projeto Estúdio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!-- Hero-->
    <section class="module-cover parallax text-center" data-background="../images/estudio/cameras_img.jpg" data-overlay="0.85" data-gradient="0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Projeto Estúdio</h1>
                    @*<p>Teologia que educa a mente e molda o coração!</p>*@
                </div>
            </div>
        </div>
    </section>
    <!-- Hero end-->
    <!-- About-->
    <section class="module bg-gray p-t-0">
        <div class="container">
            <div class="row">
                <div class="col-md-10 m-auto">
                    <div class="space" data-mY="-60px"></div>
                    <!-- <div class="modal-video-container"><img src="assets/images/main/player.jpg" alt=""><a class="play-button" href="//www.youtube.com/watch?v=-pukZ8mD_Xs"></a></div> -->
                    <iframe style="border-radius: 3%;" width="560" height="315" src="https://www.youtube.com/embed/It0wbal8Q3I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="space" data-mY="60px"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- About end-->
    <!--History-->
    <section class="module bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Post-->
                    <article class="post">
                        <div class="post-wrapper">
                            <div class="post-header">
                                <h2 class="post-title"><a>Participe conosco desta obra</a></h2>
                            </div>
                            <div class="post-content text-justify">
                                <p>
                                    Estamos felizes por você chegar até aqui, a fim de compreender melhor acerca de nosso projeto de implantação de um estúdio no Seminário Logos. Precisamos muito de parceiros em oração e em investimento financeiro para que este Projeto se torne uma realidade rapidamente. Cremos que este estúdio será um instrumento fundamental para o desenvolvimento do Seminário, qualificando o que já temos e criando novos formatos de compartilhamento de conteúdo para a formação das pessoas e das igrejas.
                                </p>
                            </div>
                            <!-- <div class="post-more"><a href="#">Read more</a></div> -->
                        </div>
                    </article>
                    <!-- Post end-->
                </div>
                <div class="col-lg-6 text-center">
                    <img src="~/images/estudio/estudio-logos-1.jpg" />
                </div>
            </div>
        </div>
    </section>
    <!--History end-->
    <!--History-->
    <section class="module bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Post-->
                    <article class="post">
                        <div class="post-wrapper">
                            <div class="post-header">
                                <h2 class="post-title"><a>Nossas grandes finalidades</a></h2>
                            </div>
                            <div class="post-content text-justify">
                                <p>
                                    Através do estúdio produziremos variados conteúdos como devocionais, reflexões temáticas, clipes musicais, gravações de cursos rápidos, gravações dos cursos formais para formato EaD, produção de lives semanais, propagandas diversas, etc. Ou seja, conteúdo de alta relevância, com total fundamentação bíblica e com a qualidade que a grandeza do nosso Deus requer para a Sua Obra.
                                </p>
                            </div>
                            <!-- <div class="post-more"><a href="#">Read more</a></div> -->
                        </div>
                    </article>
                    <!-- Post end-->
                </div>
                <div class="col-lg-6 text-center">
                    <img src="~/images/estudio/estudio-logos-2.jpg" />
                </div>
            </div>
        </div>
    </section>
    <!--History end-->
    <!--History-->
    <section class="module bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Post-->
                    <article class="post">
                        <div class="post-wrapper">
                            <div class="post-header">
                                <h2 class="post-title"><a>Nosso desafio e convite</a></h2>
                            </div>
                            <div class="post-content text-justify">
                                <p>
                                    Precisamos de pessoas comprometidas com o Evangelho, que amam a obra do Senhor e que tenham senso de responsabilidade e urgência na formação de pessoas para o ministério da igreja local, para investir nesta obra. Abaixo, disponibilizamos o orçamento completo para seu conhecimento. Clique em <b>“Quero participar”</b> e contribua de acordo com sua realidade e seu coração. Que o Senhor lhe abençoe!
                                </p>
                            </div>
                        </div>
                    </article>
                    <!-- Post end-->
                </div>
                <div class="col-lg-12 text-center">
                    <button class="btn btn-circle btn-outline-danger">Quero participar!</button>
                </div>
            </div>
        </div>
    </section>
    <!--History end-->
</div>
