@{
    ViewData["Title"] = "Sobre nós";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <!-- Hero-->
    <section class="module-cover parallax text-center" data-background="../images/local/fachada-1.png" data-jarallax-video="https://www.youtube.com/watch?v=-pukZ8mD_Xs&t=132s" data-overlay="0.85" data-gradient="0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Bem-vindo ao<br>Seminário Batista Logos</h1>
                    <p>Teologia que educa a mente e molda o coração!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero end-->
    <!-- About-->
    <section class="module bg-gray p-t-0">
        <div class="container">
            <div class="row">
                <div class="col-md-10 m-auto">
                    <div class="space" data-mY="-60px"></div>
                    <!-- <div class="modal-video-container"><img src="assets/images/main/player.jpg" alt=""><a class="play-button" href="//www.youtube.com/watch?v=-pukZ8mD_Xs"></a></div> -->
                    <iframe style="border-radius: 3%;" width="560" height="315" src="https://www.youtube.com/embed/-pukZ8mD_Xs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="space" data-mY="60px"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- About end-->
    <!-- Alt Services-->
    <section class="module bg-white" ng-controller="ValoresPanelController as controller" ng-init="controller.init()">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 offset-lg-2 text-center text-lg-left"><img src="~/images/logo-logos.png" width="120px" alt=""></div>
                <div class="col-lg-5 text-center">
                    <h2>Nossos Valores</h2>
                    <p class="lead">Conheça nossos valores</p>
                    <div class="space" data-MY="50px"></div>
                    <!--Desktop-->
                    <div class="d-none d-lg-block icon-box icon-box-left mb-4" ng-repeat="valor in controller.valores">
                        <div class="icon-box-icon"><span class="ti-{{valor.icone}}"></span></div>
                        <div class="icon-box-title">
                            <h6>{{valor.nome}}</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>{{valor.descricao}}</p>
                        </div>
                    </div>
                    <!--Mobile-->
                    <div class="d-block d-lg-none icon-box mb-4" ng-repeat="valor in controller.valores">
                        <div class="icon-box-icon"><span class="ti-{{valor.icone}}"></span></div>
                        <div class="icon-box-title">
                            <h6>{{valor.nome}}</h6>
                        </div>
                        <div class="icon-box-content">
                            <p>{{valor.descricao}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Alt Services end-->
    <div ng-controller="ContatoPanelController as controller" ng-init="controller.init()">
        <!--History-->
        <section class="module bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Post-->
                        <article class="post">
                            <div class="post-wrapper">
                                <div class="post-header">
                                    <h2 class="post-title"><a href="blog-single.html">Nossa história</a></h2>
                                </div>
                                <div class="post-content text-justify">
                                    <p>
                                        {{controller.contatoInfo.historia}}
                                    </p>
                                </div>
                                <!-- <div class="post-more"><a href="#">Read more</a></div> -->
                            </div>
                        </article>
                        <!-- Post end-->
                    </div>
                </div>
            </div>
        </section>
        <!--History end-->
        <!--Doutrinary declaration-->
        <section class="module bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Post-->
                        <article class="post">
                            <div class="post-wrapper">
                                <div class="post-header">
                                    <h2 class="post-title"><a href="blog-single.html">No que acreditamos</a></h2>
                                </div>
                                <div class="post-content text-justify">
                                    <p>
                                        Acesse nossa declaração doutrinária <a href="{{controller.contatoInfo.declaracaoDoutrinaria}}" target="_blank">clicando aqui</a>.
                                    </p>
                                </div>
                            </div>
                        </article>
                        <!-- Post end-->
                    </div>
                </div>
            </div>
        </section>
        <!--Doutrinary declaration end-->
        <!--Doutrinary declaration-->
        <!--<section class="module bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">-->
        <!-- Post-->
        <!--<article class="post">
        <div class="post-wrapper">
            <div class="post-header">
                <h2 class="post-title"><a href="blog-single.html">Nossos diretores</a></h2>
            </div>
            <div class="post-content text-justify">
                <div class="row mt-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item" data-toggle="modal" data-target="#modal-dados-professor">
                            <div class="team-image">
                                <img src="~/images/professores/wagner-lima-amaral.png" alt="">
                                <div class="team-wrap">
                                    <div class="team-content">
                                        <h6 class="team-name">Wagner Lima Amaral</h6>
                                        <div class="team-role">Diretor Executivo</div>
                                    </div>
                                    <div class="team-content-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item" data-toggle="modal" data-target="#modal-dados-professor">
                            <div class="team-image">
                                <img src="assets/images/professores/wagner-lima-amaral.png" alt="">
                                <div class="team-wrap">
                                    <div class="team-content">
                                        <h6 class="team-name">Wagner Lima Amaral</h6>
                                        <div class="team-role">Diretor Executivo</div>
                                    </div>
                                    <div class="team-content-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item" data-toggle="modal" data-target="#modal-dados-professor">
                            <div class="team-image">
                                <img src="assets/images/professores/wagner-lima-amaral.png" alt="">
                                <div class="team-wrap">
                                    <div class="team-content">
                                        <h6 class="team-name">Wagner Lima Amaral</h6>
                                        <div class="team-role">Diretor Executivo</div>
                                    </div>
                                    <div class="team-content-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item" data-toggle="modal" data-target="#modal-dados-professor">
                            <div class="team-image">
                                <img src="assets/images/professores/wagner-lima-amaral.png" alt="">
                                <div class="team-wrap">
                                    <div class="team-content">
                                        <h6 class="team-name">Wagner Lima Amaral</h6>
                                        <div class="team-role">Diretor Executivo</div>
                                    </div>
                                    <div class="team-content-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item" data-toggle="modal" data-target="#modal-dados-professor">
                            <div class="team-image">
                                <img src="assets/images/professores/wagner-lima-amaral.png" alt="">
                                <div class="team-wrap">
                                    <div class="team-content">
                                        <h6 class="team-name">Wagner Lima Amaral</h6>
                                        <div class="team-role">Diretor Executivo</div>
                                    </div>
                                    <div class="team-content-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item" data-toggle="modal" data-target="#modal-dados-professor">
                            <div class="team-image">
                                <img src="assets/images/professores/wagner-lima-amaral.png" alt="">
                                <div class="team-wrap">
                                    <div class="team-content">
                                        <h6 class="team-name">Wagner Lima Amaral</h6>
                                        <div class="team-role">Diretor Executivo</div>
                                    </div>
                                    <div class="team-content-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </article>-->
        <!-- Post end-->
        <!--</div>
            </div>
        </div>
    </section>-->
        <!--Doutrinary declaration end-->
        <!--Location-->
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!--Post-->
                        <article class="post">
                            <div class="post-wrapper">
                                <div class="post-header">
                                    <h2 class="post-title"><a href="blog-single.html">Nossa localização</a></h2>
                                </div>
                                <div class="post-content">
                                    @*<div class="maps-container">
                                        <div class="map" data-addresses="[48.859822, 2.352647]" data-info="[Lorem ipsum dolor sit amet.]" data-icon="../images/map-icon.png" data-zoom="15"></div>
                                    </div>*@
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.703469905749!2d-46.64171198440512!3d-23.65078827078742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5adb7123092d%3A0x8e14c6e2d73139f0!2sSemin%C3%A1rio%20Batista%20Logos!5e0!3m2!1spt-BR!2sbr!4v1611216270979!5m2!1spt-BR!2sbr" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div>
                        </article>
                        <!--Post end-->
                    </div>
                </div>

            </div>
        </section>
        <!--Location end-->
        <!-- Testemunhos em vídeo -->
        <section id="videos-logos-slider" class="module-cover-slides">
            <ul class="slides-container">
                <li class="parallax text-center" data-overlay="0">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ShmLOn0gcgs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </li>
                <li class="parallax text-center" data-overlay="0">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vQXrwA_Sdro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </li>
                <li class="parallax text-center" data-overlay="0">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BdyNr2ZVMEw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </li>
                <li class="parallax text-center" data-overlay="0">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/cTkl3Yt635Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </li>
            </ul>

        </section>


        <!-- Testimonials-->
        <section class="module bg-gray" ng-show="controller.testemunhos != null && controller.testemunhos.length > 0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-9 m-auto text-center">
                        <h3>O que dizem sobre nós</h3>
                        @*<p class="lead">Alguns comentários de nossos alunos</p>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="space" data-MY="40px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel review-carousel">

                            <div class="review-card" ng-repeat="testemunho in controller.testemunhos">
                                <div class="review-card-content">
                                    <p>{{testemunho.descricao}}</p>
                                </div>
                                <div class="review-card-author">
                                    <div class="review-card-author-photo"><img src="../images/avatar/{{testemunho.imagem}}" alt=""></div>
                                    <div class="review-card-author-info">
                                        <h6 class="review-card-author-title">{{testemunho.nome}}</h6><span class="star-rating"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials end-->
        <!--Partners-->
        @*<div class="module">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 m-auto text-center">
                        <h3>Nossos parceiros</h3>
                    </div>
                    <div class="col-md-10 m-auto">
                        <div class="owl-carousel clients-carousel" data-carousel-options="{&quot;dots&quot;: true}">
                            <div class="client"><img src="assets/images/clients/1.png" alt=""></div>
                            <div class="client"><img src="assets/images/clients/2.png" alt=""></div>
                            <div class="client"><img src="assets/images/clients/3.png" alt=""></div>
                            <div class="client"><img src="assets/images/clients/4.png" alt=""></div>
                            <div class="client"><img src="assets/images/clients/5.png" alt=""></div>
                            <div class="client"><img src="assets/images/clients/6.png" alt=""></div>
                            <div class="client"><img src="assets/images/clients/7.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <!--Partners end-->
    </div>
</div>

@section scriptsSection {
    <script src="~/js/app/components/contato-panel/contato-panel.controller.js"></script>
}
