@{
    ViewData["Title"] = "Podcast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero-->
<section class="module-cover parallax text-center" data-background="../images/local/fachada-1.png" data-jarallax-video="https://www.youtube.com/watch?v=-pukZ8mD_Xs&t=132s" data-overlay="0.85" data-gradient="0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Bem-vindo ao<br>Seminário Batista Logos</h1>
                <p>Teologia que educa a mente e molda o coração!</p>
            </div>
        </div>
    </div>
</section>
<!-- Hero end-->
<!-- Programas -->
<section class="module bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-9 m-auto text-center">
                <h3>Programas do Logos Podcast</h3>
                <p class="lead">Conheça nossos programas no podcast</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="space" data-MY="40px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel review-carousel">
                    <div class="review-card">
                        <div class="review-card-author">
                            <div class="review-card-author-photo"><img src="" alt=""></div>
                            <div class="review-card-author-info">
                                <h6 class="review-card-author-title">Test</h6>
                            </div>
                        </div>
                        <div class="review-card-content">
                            <p>Test</p>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="review-card-author">
                            <div class="review-card-author-photo"><img src="" alt=""></div>
                            <div class="review-card-author-info">
                                <h6 class="review-card-author-title">Test</h6>
                            </div>
                        </div>
                        <div class="review-card-content">
                            <p>Test1</p>
                        </div>
                    </div>
                    <div class="review-card">
                        <div class="review-card-author">
                            <div class="review-card-author-photo"><img src="" alt=""></div>
                            <div class="review-card-author-info">
                                <h6 class="review-card-author-title">Test</h6>
                            </div>
                        </div>
                        <div class="review-card-content">
                            <p>Test2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Programas end-->
