<div class="container">
    <div class="row">
        <div class="col-12 m-auto text-center">
            <h1 class="title-form-interesse">Participe conosco!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="space" data-MY="60px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="~/images/cursos/bacharel/bacharel-teologia-ministerial.jpeg" />
        </div>
        <div class="col-4">
            <img src="~/images/cursos/bacharel/bacharel-teologia-ministerial.jpeg" />
        </div>
        <div class="col-4">
            <img src="~/images/cursos/bacharel/bacharel-teologia-ministerial.jpeg" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="space" data-MY="60px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/images/logo-logos.png" />
        </div>
    </div>
</div>