<!-- Off canvas-->
<div class="off-canvas-sidebar">
    <div class="off-canvas-sidebar-wrapper">
        <div class="off-canvas-header"><a class="off-canvas-close" href="#"><span class="ti-close"></span></a></div>
        <div class="off-canvas-content">
            <!-- Text widget-->
            <aside class="widget widget-text">
                <div class="textwidget">
                    <div class="bg-white col-4 m-auto" style="border-radius: 5%;">
                        <img src="~/images/logo-logos.png" style="margin-top: 20px;" alt="" width="80px">
                    </div>
                    <p class="text-center mt-5">Siga-nos nas redes sociais</p>
                    <!-- Social Icons-->
                    <ul class="social-icons text-center">
                        <li><a href="https://www.facebook.com/Logos.seminario.batista" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/seminariologos/"><i class="fab fa-instagram" target="_blank"></i></a></li>
                        <li><a href="https://api.whatsapp.com/send?phone=5511999813557&amp;text=Ol%C3%A1" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCygpnUW4Id1wxIR8II9WpYQ/videos" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>
<!-- Off canvas end-->